# =========================
# Virtual Environments
# =========================
venv/
.venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Runtime Data
# =========================
storage/

backend/data/chromadb/
backend/data/*.db

# =========================
# Logs
# =========================
logs/
backend/logs/
*.log

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Build / Packaging
# =========================
dist/
build/
*.egg-info/

# =========================
# Offline Models
# =========================
backend/offline_models/
backend/local_models/