body {
    background: #000;
    color: white;
    font-family: Inter, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.auth-container {
    width: 320px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

input,
button {
    padding: 12px;
}